 <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->

        <p><a class="btn btn-primary btn-large" href="/vedio/upload">Upload Vedio </a></p>


<ul class="thumbnails">
  #foreach($vedio in $vedios)
  <li class="span3">
    <div class="thumbnail">
      <img src="$vedio.image" width='260px' height='180px' alt="">
      <h5>${vedio.title}</h5>
      <p>${vedio.summary}</p>
    </div>
  </li>
  #end
</ul>
      <!-- Example row of columns -->
</div>