 <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      
	  <div class="hero-unit">
		 <embed src='http://player.56.com/3000000224/open_NjQzNTcxMDA.swf' type='application/x-shockwave-flash' allowFullScreen='true' width='100%' height='100%' allowNetworking='all' wmode='opaque' allowScriptAccess='always'></embed>
        <h1>Upload, Success!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
	subject:	${successVedio.title}</br>
	result: 	${successVedio.result}</br>
	path: 	${successVedio.path}</br>
	image:  	${successVedio.image}</br>
	
      </div>
</div>